<template name="petRow">
  <div class="ui slide masked reveal image">
    <img src="{{ image.url }}" alt="" class="visible content" />
  </div>
  <div class="content">
    <h2 class="header">{{ name }}</h2>
    <p>{{ description }}</p>
    <span>{{ username }}</span>
  </div>
  <div class="extra content">
    {{#if isOwner}}
      <button class="ui button delete">&times;</button>
    {{/if}}
  </div>
  <button class="ui bottom attached button">
      <i class="icon telephone"></i>
      Adopta'l!
  </button>
</template>

