<template name="petRow">
  <div class="ui slide masked reveal image">
    {{#each images}}
      <img src="{{ url }}" alt="" class="content {{#if isFirst }}visible{{else}}hidden{{/if}}" />
    {{/each}}
  </div>
  <div class="content">
    <i class="right floated like icon"></i>
    <i class="right floated star icon"></i>
    <h2 class="header">{{ name }}</h2>
    <p>{{ description }}</p>
    <span>{{ username }}</span>
  </div>
  <div class="extra content">
    {{#if isOwner}}
      <button class="ui button delete">&times;</button>
    {{/if}}
  </div>
  <button class="ui bottom primary attached button">
      <i class="info icon"></i>
      Més informació
  </button>
</template>

